body{
    margin: 0;
    background-image: url('Images/Background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.logo{
    float: right;
    margin: 28px 50px 0px 0px;
    animation-name: logoAnim;
    animation-duration: 2s;
}
@keyframes logoAnim {
    0%{margin-right: -100px;}
}
.logoImg{
    border-radius: 50px;
    width: 90px;
    height: 90px;
}
.logoImg:hover{
    rotate: 360deg;
    transition: 1.5s;
}
.loginTitle{
    text-align: center;
    margin: 40px 0px 0px 140px;
    color: white;
    animation-name: titleAnim;
    animation-duration: 2s;
}
.loginTitle:hover{
    letter-spacing: 2px;
    transition: 1s;
}
@keyframes titleAnim {
    0%{margin-left: -1000px;}
}
.form{
    background: rgba(0,0,0,.5);
    height: 60%;
    width: 34%;
    padding: 25px 0px;
    text-align: center;
    border-radius: 20px;
    border: 1.5px solid white;
    margin: 7% 33% 0% 33%;
    float: left;
    animation-name: formAnim;
    animation-duration: 2s;
}
@keyframes formAnim {
    0%{margin-top: -1000px;}
}
.uname{
    margin-bottom: 15px;
}
.uname{
    width: 60%;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 18px;
    letter-spacing: 2px;
    background: white;
}
.pword{
    width: 60%;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 18px;
    letter-spacing: 2px;
    background: white;
    margin-left: -15px;
}
#eye{
    margin-left: -40px;
    cursor: pointer;
}
.uname:hover,
.pword:hover{
    transition: 1s;
    letter-spacing: 3.5px;
}
.frgPword{
    text-decoration: none;
    float: right;
    margin-right: 20%;
}
.loginbtn{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid green;
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: white;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 40%;
}
.loginbtn:hover{
    letter-spacing: 2px;
    color: white;
    background-color: green;
    border: 2px solid white ;
    transition: 1.2s;
}
.signupLink{
    margin-top: 30px;
    color: white;
}